<section class="service-card">
    <div class="new">
        New
    </div>
    <div class="product-view">
        <img src="assets/images/@@img" alt="">
        <div class="overlay">
            <a href="product-details.html" class="cstm-btn">View</a>
            <a href="" class="cstm-btn secondary mt-3">add to cart</a>
        </div>
    </div>
   <div class="info-mini">
       <div><h4>@@name</h4>
        <p class="price">$54</p></div>
        <i data-feather="heart"></i>
    

</div>
</section>