<footer class="footer" >
    <div class="insta">
       <ul>
           <li> <a href=""><img src="assets/images/insta1.png" alt="">
        <div class="overlay">
            <i data-feather="instagram"></i>
        </div>
    </a>
        </li>
        <li> <a href=""><img src="assets/images/insta2.png" alt="">
            <div class="overlay">
                <i data-feather="instagram"></i>
            </div>
        </a>
            </li>
            <li> <a href=""><img src="assets/images/insta3.png" alt="">
                <div class="overlay">
                    <i data-feather="instagram"></i>
                </div>
            </a>
                </li>
                <li> <a href=""><img src="assets/images/insta4.png" alt="">
                    <div class="overlay">
                        <i data-feather="instagram"></i>
                    </div>
                </a>
                    </li>
                    <li> <a href=""><img src="assets/images/insta5.png" alt="">
                        <div class="overlay">
                            <i data-feather="instagram"></i>
                        </div>
                    </a>
                        </li>
       </ul>
    </div>
    <div class="footer-back">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="right-border text-center">
                    <img src="assets/images/logo-1.svg" alt="">
                    <p>For the latest news, tips, offers and exclusive access to our online community, subscribe now!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right-border">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="links">
                            <li>
                                Company
                            </li>
                            <li>
                                <a href="">Return policy</a>
                            </li>
                            <li><a href="">Delivery</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-6">
                        <ul class="links">
                            <li>
                                Usefull Link
                            </li>
                            <li>
                                <a href="">My Account</a>
                            </li>
                            <li><a href="">About Us</a></li>
                          
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Subscribe To Our Newsletter</h4>
                <div class="form-group">
                    <input type="text" class="form-control" id="registration" placeholder=" ">
                    <label for="registration">E-mail Address</label>
                   <button>Send</button>
                </div>
                <ul class="social">
                    <li><i data-feather="twitter"></i></li>
                    <li><i data-feather="youtube"></i></li>
                    <li><i data-feather="facebook"></i></li>
                    <li><i data-feather="instagram"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h6> © 2020 Aalitah. All Rights Reserved.</h6>
                </div>
                <div class="col-md-6 text-md-right"> <img src="assets/images/payment.svg" alt=""></div>
            </div>
        </div>
    </div>
</div>
</footer>