<section class="cart-itemdetails">
    <div class="row no-gutters">
        <div class="col-3"> <div class="product-view">
            <img src="assets/images/@@img" alt="">
          
        </div></div>
        <div class="col-9">
            <div class="info-mini">
                <div><h4>@@name</h4>
                 <p class="price">@@price</p></div>
                 <div class="unique">
                    <i data-feather="trash"></i>
                    <div class="quantity">
           
                        <div class="quantity-inner">
                          
                          <input
                            class="input-number"
                            for="custom-number-input"
                            type="text"
                            value="1"
                            min="0"
                            max="10"
                          />
                          <div><h4 class="input-number-decrement icon">–</h4>
                            <h4 class="input-number-increment icon">+</h4></div>
                          
                        </div>
            
                      </div>
                 </div>
                
             
         
         </div>
         
        </div>
    </div>
   
  
</section>